.board {
    --size: 500px;

    margin: auto;

    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: clip;
    height: var(--size);
    width: var(--size);

    & > div {
        display: flex;
        flex: 1;
    }
}

.square {
    flex: 1;
    cursor: pointer;
    border: none;
}

.dark {
    background-color: #b17346;
}

.light {
    background-color: #f2e2c5;
}

.selected {
    background-color: #44882273;
}
