.board {
    --size: min(85vw, 600px);
    --8-squares: repeat(8, calc(var(--size) / 8));

    margin: auto;

    display: grid;
    grid-template-columns: var(--8-squares);
    grid-template-rows: var(--8-squares);
    border-radius: 4px;
    overflow: clip;
    height: var(--size);
    width: var(--size);
}

.square {
    position: relative;
    /* aspect-ratio: 1; */
    cursor: pointer;
    border: none;
    padding: 0;

    & > img {
        height: 100%;
        width: 100%;
    }
}

.dark {
    background-color: #b17346;
}

.light {
    background-color: #f2e2c5;
}

.selected {
    background-color: #44882273;
}
