.main {
    flex: 0;
    display: flex;
    justify-content: center;
    gap: 32px;
    width: var(--content-width);

    @media (--medium-viewport) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: min(700px, 90vw);
    }
}
