.editor {
    --editor-width: 95vw;

    background-color: var(--bg-mid-light);
    border-color: var(--bg-dark);
    color: var(--text-normal);
    height: 80vh;
    width: var(--editor-width);
    max-width: 1200px;

    &::backdrop {
        backdrop-filter: brightness(0.5) blur(3px);
    }

    @media (--small-viewport) {
        padding: 0;
        height: 90svh;

        &:has(> .boardEditor) {
            box-sizing: content-box;
        }

        &:has(> .fenPngEditor) {
            padding: 12px;
        }
    }
}

button:not([aria-label*='square']) {
    border-radius: 4px;
    padding: 4px 10px;

    &:hover {
        background-color: var(--bg-mid-dark);
    }
}

/* BOARD INTERFACE */

.invalid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    height: 100%;

    & .error {
        font-size: x-large;
    }

    & > * {
        align-self: center !important;
    }
}

.boardEditor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(64px, 6%);
    height: 100%;

    @media (--small-viewport) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
    }
}

.boardSize {
    --board-size: min(600px, 50vw);

    @media (--small-viewport) {
        --board-size: var(--editor-width);
    }
}

.side {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 33%;

    @media (--small-viewport) {
        margin-inline: 12px;
    }
}

.moveList {
    flex: 1;
    padding: 0;
    overflow: scroll;

    @media (--small-viewport) {
        max-height: 600px;
        margin-inline: 24px;
    }
}

.fullMove {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 8px;
    margin-block: 8px;

    & .whiteMove {
        grid-column: 2;
    }

    /* Needed when move list starts with black move mid-game (e.g. 3... Nf6).
       Only one move for the fullMove but it should go in the blackMove column */
    & .blackMove {
        grid-column: 3;
    }
}

.highlighted,
.fenPngEditor button {
    background-color: var(--bg-light);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    text-wrap: balance;

    & > :first-child {
        margin-right: auto;
    }
}

.controls {
    & > :not(:first-child, :last-child) {
        transform: scale(1.5);
    }

    & > * {
        margin: auto;
    }
}

/* FEN/PGN INTERFACE */

.fenPngEditor {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 800px;
    height: 100%;
    gap: 16px;

    & label {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .buttons {
        align-self: flex-end;
    }
}

.textbox {
    background-color: var(--bg-light);
    border: 2px solid var(--bg-dark);
    border-radius: 4px;
    padding: 8px;
}

.pgn {
    flex: 1;

    & > textarea {
        flex: 1;
    }
}

.error {
    color: var(--text-error);
}
