.panel {
    flex: 5;
    background-color: var(--bg-light);
    padding: 24px;
}

.empty {
    position: relative;

    & > p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lines {
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

.line {
    composes: listItem from global;
    display: flex;

    & > :first-child {
        flex: 1;
    }

    & > button {
        align-self: flex-start;
    }
}

.fullMove {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & .whiteMove {
        grid-column: 2;
    }

    & .blackMove {
        grid-column: 3;
    }
}

.highlighted {
    background-color: var(--bg-light);
}
