.listItem {
    border-radius: 4px;
    background-color: var(--bg-mid-dark);
    padding: 12px;
    position: relative;
    transition: 120ms;

    &:hover {
        background-color: var(--bg-mid-light);
        cursor: pointer;
    }
}

.textInput {
    position: relative;

    & > input {
        background-color: transparent;
        border: 1px solid var(--bg-light);
        padding: 10px;
        width: 100%;
    }

    & > label {
        background-color: var(--bg-mid-dark);
        left: 5px;
        padding-inline: 3px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 120ms;
    }

    & > input:focus ~ label,
    & > input:not(:placeholder-shown) ~ label {
        top: 0;
    }
}

.iconButton {
    padding: 6px;
    border-radius: 4px;

    &:hover {
        background-color: var(--bg-mid-dark);
        box-shadow: 0 0 0 0px var(--bg-mid-dark);
    }
}

.lichessLink {
    color: inherit;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
}
