.listItem {
    border-radius: 4px;
    background-color: var(--bg-mid-dark);
    padding: 12px;
    margin-block: 6px;
    position: relative;
    transition: 120ms;

    &:hover {
        background-color: var(--bg-mid-light);
        cursor: pointer;

        & label {
            background-color: var(--bg-mid-light);
        }
    }
}

.textInput {
    position: relative;

    & > input {
        background-color: transparent;
        border: 1px solid var(--bg-light);
        padding: 10px;
        width: 100%;
    }

    & > label {
        background-color: var(--bg-mid-dark);
        left: 5px;
        padding-inline: 3px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 120ms;
    }

    & > input:focus ~ label,
    & > input:not(:placeholder-shown) ~ label {
        top: 0;
    }
}
