.dialog {
    --editor-width: 95vw;

    background-color: var(--bg-mid-light);
    border-color: var(--bg-dark);
    color: var(--text-normal);
    height: 80vh;
    width: var(--editor-width);
    max-width: 1200px;

    &::backdrop {
        backdrop-filter: brightness(0.5) blur(3px);
    }

    @media (--small-viewport) {
        height: 90svh;

        &:has(> .boardEditor) {
            box-sizing: content-box;
        }

        &:has(> .fenPngEditor) {
            padding: 12px;
        }
    }
}

.editor {
    height: 100%;
    padding: 1rem;
}

.editor button:not([aria-label*='square']) {
    border-radius: 4px;
    padding: 4px 10px;

    &:hover {
        background-color: var(--bg-mid-dark);
    }
}

/* BOARD INTERFACE */

.invalid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    height: 100%;

    & .error {
        font-size: x-large;
    }

    & > * {
        align-self: center !important;
    }
}

.boardEditor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(64px, 6%);
    height: 100%;

    @media (--small-viewport) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
    }
}

.boardSize {
    --board-size: min(600px, 50vw);

    @media (--small-viewport) {
        --board-size: var(--editor-width);
    }
}

.left {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > a {
        align-self: flex-end;
        background-color: var(--bg-light);
        padding: 8px 10px;

        @media (--small-viewport) {
            margin-right: 12px;
        }
    }

    @media (--small-viewport) {
        flex-direction: column-reverse;
    }
}

.right {
    --gap: 24px;

    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    min-width: 33%;
    margin-block: var(--gap);

    @media (--small-viewport) {
        margin-inline: 12px;
    }
}

.notes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    & button[aria-label='edit note'] {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.noteText {
    border-radius: 4px;
    height: 9rem;
    resize: vertical;
}

.moveList {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;

    & > ol {
        flex: 1;
        overflow-y: scroll;
        scrollbar-color: var(--bg-mid-dark) var(--bg-light);

        @media (--small-viewport) {
            max-height: 600px;
            margin-inline: 24px;
        }
    }
}

.moveList > h3,
.notes > label {
    font-size: large;
    font-weight: bold;
}

.fullMove {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 8px;
    margin-block: 8px;

    & .whiteMove {
        grid-column: 2;
    }

    /* Needed when move list starts with black move mid-game (e.g. 3... Nf6).
       Only one move for the fullMove but it should go in the blackMove column */
    & .blackMove {
        grid-column: 3;
    }
}

.highlighted,
.result,
.fenPngEditor button {
    background-color: var(--bg-light);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    text-wrap: balance;

    & > :first-child {
        margin-right: auto;
    }
}

.controls {
    & > :not(:first-child, :last-child) {
        transform: scale(1.5);
    }

    & > * {
        margin: auto;
    }
}

.result {
    text-align: center;
    padding-block: 8px;
    border-radius: 8px;
    font-weight: bold;
}

/* FEN/PGN INTERFACE */

.fenPngEditor {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 800px;
    height: 100%;
    gap: 16px;

    & label {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .buttons {
        align-self: flex-end;
    }
}

.textbox {
    composes: textbox from global;
}

.pgn {
    flex: 1;

    & > textarea {
        flex: 1;
    }
}

.error {
    color: var(--text-error);
}
