.boardSize {
    --board-size: min(85vw, 600px);
}

.board {
    --square-size: calc(var(--board-size) / 8);
    --8-squares: repeat(8, var(--square-size));

    display: grid;
    grid-template-columns: var(--8-squares);
    grid-template-rows: var(--8-squares);
    border-radius: 4px;
    overflow: clip;
    height: var(--board-size);
    width: var(--board-size);
}

.square {
    position: relative;
    cursor: pointer;
    border: none;
    padding: 0;
}

.dark {
    background-color: #b17346;
}

.light {
    background-color: #f2e2c5;
}

.selected {
    background-color: #44882273;
    z-index: 1000;
}

.square > img {
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    max-height: var(--square-size);
    max-width: var(--square-size);

    &.ghost {
        z-index: 0;
        opacity: 0.6;
    }
}

.promotions {
    padding: 0;
    margin: 0;
    z-index: 2000;
    background-color: transparent;
    border: none;

    &::backdrop {
        backdrop-filter: brightness(0.5);
    }
}

.options {
    composes: board;

    border-radius: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, var(--square-size));
    height: calc(var(--board-size) / 2);
    width: var(--square-size);
    margin: 0;
    padding: 0;

    & > .dark:hover {
        background-color: var(--text-normal);
    }

    & > .light:hover {
        background-color: var(--bg-light);
    }
}
