name: Test
on:
    pull_request:
        paths:
            - '**/*.ts'
            - '**/*.tsx'

jobs:
    vitest:
        name: Run tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: npm install && npm run test:once
